fastapi>=0.115.0
pydantic[email]>=2.10.0
pydantic-settings>=2.6.0
python-jose[cryptography]>=3.3.0
google-auth>=2.25.2
requests>=2.31.0
mangum>=0.19.0
python-multipart>=0.0.6
httpx>=0.27.0
sqlalchemy>=2.0.0
alembic>=1.13.0
psycopg2-binary>=2.9.9
boto3>=1.35.0
