version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "jh-backend-stack"
resolve_s3 = true
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
parameter_overrides = "GoogleClientId=\"YOUR_GOOGLE_CLIENT_ID\" JWTSecretKey=\"YOUR_JWT_SECRET_KEY\" AllowedOrigins=\"YOUR_ALLOWED_ORIGINS\" AllowedEmails=\"YOUR_EMAIL\""
confirm_changeset = false
image_repositories = []
